video
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #808080;
-webkit-box-shadow:  2px 2px 4px 0px #808080;
box-shadow: 2px 2px 4px 0px #808080;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
padding: 2em 2em;
}
